# Dependências
node_modules/
package-lock.json
yarn.lock

# Logs e arquivos do sistema
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*

# Arquivos de Desenvolvimento / Setup
FIREBASE_SETUP.md
popular-banco.html
.env
.env.*
links úteis.md

# Configurações de IDE
.vscode/
.idea/
